<footer id="stick-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Brock Bloomquist", "https://brockabloomquist.com", class: "text-white" %></small>
    </div>
</footer>